node_modules
dist
dist-ssr
artifacts
coverage
playwright-report
test-results
.vite
.tmp
.local
android/.gradle
android/app/build
android/build
android/app/src/main/assets

.env
.env.*
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
